// styles/_mixins.scss
@import './variables'; // Asegúrate de importar variables

@mixin card-style($bg-color) {
    background-color: $bg-color;
    border-radius: $border-radius; // Usa la variable importada
    box-shadow: $box-shadow;
    color: $white;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}