$primary-color: #0089a7;
$secondary-color: #0d1b4c;
$background-color: #f4f4f4;
$white: white;
$black: #333;

$dark-color: #002d4f;

$padding-large: 50px 0;
$padding-medium: 20px;
$padding-small: 10px;
$border-radius: 10px; 
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);