// styles/_variables.scss

$primary-color: #0089a7;
$secondary-color: #0d1b4c;
$background-gradient: linear-gradient(to bottom, #f4f4f4, #e6f2f6);
$hover-color: #002d4f;

$font-family: Arial, sans-serif;
$border-radius: 30px;
$padding: 10px 25px;
$font-size-large: 2.5rem;
$font-size-medium: 1.5rem;
$font-size-small: 1rem;
