// styles/Hero.module.scss
.hero {
    background: linear-gradient(135deg, #4fc3ff 0%, #003c71 100%);
    padding: 80px 0;
    text-align: center;
    color: white;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.intro {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 20px;
    display: inline-block;

    @media (max-width: 600px) {
        padding: 20px;
        width: 90%; // Asegúrate de que se ajuste a pantallas más pequeñas
    }
}

.btn {
    background-color: #0089a7; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #002d4f; 
    }
}