.hero {
    background: linear-gradient(135deg, #4fc3ff 0%, #003c71 100%);
    padding: 80px 2%; 
    text-align: center;
    color: white;

    @media (max-width: 768px) { 
        padding: 60px 2%;
    }
}

.intro {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 20px;
    display: inline-block;

    @media (max-width: 768px) { 
        padding: 20px;
        width: 90%; 
    }
}

.btn {
    background-color: #0089a7; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    @media (max-width: 768px) { 
        padding: 10px 15px; 
    }
}

.servicios {
    padding: 20px;
    text-align: center; 

    @media (max-width: 768px) { 
    }
}

.serviciosContainer {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px; 

    @media (max-width: 768px) { 
        gap: 15px; 
        padding: 0 5%; 
    }
}
