// styles/ProfileCard.module.scss
@import './variables'; // Importa las variables necesarias
@import './_mixins'; // Importa el archivo de mixins

.profileCard {
    @include card-style($primary-color); // Usando el mixin para aplicar estilos
    padding: $padding-medium;
    width: 300px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    .header {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .description {
        font-size: 1rem;
        margin: 15px 0;
    }

    .footer {
        margin-top: 20px; 
        display: flex;
        justify-content: center;
    }

    @media (max-width: 600px) {
        width: 90%; // Ajustar el ancho en pantallas pequeñas
        padding: $padding-small; // Reducir el padding
    }
}