// styles/ProfileCard.module.scss

@import './_mixins'; // Importa el archivo de mixins

.profileCard {
    @include card-style(#0089a7); // Usando el mixin para aplicar estilos
    padding: 20px;
    width: 300px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }
}

.header {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    margin: 15px 0;
}

.footer {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}

.button {
    background-color: #002d4f; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 

    &:hover {
        background-color: #005f7f; 
    }
}
